.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}

.todo-item.completed {
  background-color: lightgreen;
}

.todo-item.completed > span::before {
  content: 'Completed:';
  margin-right: 8px;
  font-size: 0.8em;
  font-weight: 100;
  font-style: italic;
}

.todo-item:not(:last-child) {
  margin-bottom: 4px;
}

.todo-item button {
  margin-left: 4px;
}

.btn-complete:hover {
  border-color: green;
  color: green;
}

.btn-delete:hover {
  border-color: red;
  color: red;
}

.btn-revert:hover {
  border-color: blue;
  color: blue;
}
